<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Etablissements</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">Liste des Etablissements</div>
            <div class="card-body">
                <form method="get" th:action="@{/user/indexEtablissement}" >
                    <label>Key Word</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary">Chercher</button>
                </form>
                <table class="table">
                    <thread>
                        <tr>
                            <th>ID</th><th>NOM</th><th>Address</th><th>Contact</th><th>TypeEtablissement</th>
                        </tr>
                    </thread>
                    <tbody>
                    <tr th:each="e:${listEtablissement}">
                        <td th:text="${e.id}"></td>
                        <td th:text="${e.nom}"></td>
                        <td th:text="${e.adresse}"></td>
                        <td th:text="${e.numTel}"></td>
                        <td>
                            <span th:if="${e.typeEtablissement != null}" th:text="${e.typeEtablissement.nom}"></span>
                        </td>
                        <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="btn btn-success" th:href="@{/admin/editEtablissement(id=${e.id},
                            keyword=${keyword},page=${currentPage})}">
                                Modifier</a>
                        </td>
                        <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a onclick="return confirm('Etes vous Sure?')" class="btn btn-danger" th:href="@{/admin/deleteEtablissement(id=${e.id}
                            ,keyword=${keyword},page=${currentPage})}">Supprimer</a>
                        </td>
                        <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="btn btn-info" th:href="@{/admin/formArticle(id=${e.id})}">Editer un article</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                           th:text="${status.index}"
                           th:href="@{/user/indexEtablissement(page=${status.index},keyword=${keyword})}"
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>